@import "tailwindcss";

@theme {
  /* Definiujemy kolory marki bezpośrednio w CSS */
  --color-brand-red: #b32a2e;
  --color-gold: #efd075;
  --color-black: #1f1f1f;
  --color-white: #faf7f2;
  --color-beige: #e9dec9;
  --color-gray: #8e8e8e;
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;

  /* Dodajemy Montserrat pod nową klasą 'font-display' lub 'font-montserrat' */
  --font-montserrat: var(--font-montserrat), ui-sans-serif, system-ui;
  /* Nadpisujemy domyślny container Tailwinda Twoją wersją */
}
@utility container {
  max-width: 1200px;
  margin-inline: auto; /* to samo co margin: 0 auto, ale nowocześniej */
  padding-inline: 1rem; /* warto dodać padding, żeby tekst nie dotykał krawędzi na mobile */
}

/* Skrót do fontu Montserrat (zamiast pisać font-montserrat) */

@utility montserrat {
  font-family: var(--font-montserrat);
}

/* Skrót do fontu Inter (zamiast pisać font-inter) */
@utility inter {
  font-family: var(--font-inter);
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
body {
  background-color: #b32a2e;
  font-family: var(--font-montserrat);
}
html {
  scroll-behavior: smooth;
}
#kontakt {
  scroll-margin-top: -30px; /* wysokość Twojego NavBar */
}
[data-selected="true"],
[data-selected="true"] *,
div[class*="StyledBox"][data-selected="true"] * {
  color: #ffffff !important;
  -webkit-text-fill-color: #ffffff !important; /* Wymuszenie dla niektórych przeglądarek */
}
@keyframes wave {
  0%,
  100% {
    height: 1.25rem;
  } /* h-5 */
  50% {
    height: 2.5rem;
  } /* h-10 */
}
.animate-wave {
  animation: wave 1s ease-in-out infinite;
}
